@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffe9ba;
  --foreground: #921c1d;
  --accent-1: #e2ad4f;
}

body {
  background-color: var(--background);
  color: var(--foreground);
}

@layer utilities {
  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}

.fadeInDown {
  animation: fadeInDown 0.8s ease forwards;
}

@keyframes fadeOutDown {
  0% {
    opacity: 1;
    transform: translateY(0);
  }

  100% {
    opacity: 0;
    transform: translateY(20px);
  }
}

.fadeOutDown {
  animation: fadeOutDown 0.8s ease forwards;
}

::-webkit-scrollbar {
  width: 0.3rem;
}

::-webkit-scrollbar-track {
  background: #000000;
}

::-webkit-scrollbar-thumb {
  background: #555;
  border-radius: 1rem;
}

::-webkit-scrollbar-thumb:hover {
  background: #b4b4b4;
}

.custom-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: #e2ad4f transparent; /* For Firefox */
}

.custom-scrollbar::-webkit-scrollbar {
  width: 8px; /* Width of the scrollbar */
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent; /* Background of the track */
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #e2ad4f; /* Color of the scrollbar thumb */
  border-radius: 10px; /* Rounded edges for the thumb */
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #c5a03d; /* Slightly darker on hover */
}
